<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vote for Your Favorite Pet</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
</head>
<body>
    <div class="reset">
        <button onclick="window.location.href='/reset'" class="reset">Reset</button>
    </div>
    <div class="container">
        <div class="left">
            <button onclick="window.location.href='/vote/dog'">Vote for Dog</button>
        </div>
        <div class="right">
            <button onclick="window.location.href='/vote/cat'">Vote for Cat</button>
        </div>
    </div>
</body>
</html>
